Read the dataset from the below link
https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US
_Baby_Names/US_Baby_Names_right.csv
Questions:
1. Delete unnamed columns
2. Show the distribution of male and female
3. Show the top 5 most preferred names
4. What is the median name occurence in the dataset
5. Distribution of male and female born count by states

In [19]:
?US_Baby_Names.drop
US_Baby_Names.drop(labels=None, axis=0, index=None, columns=None, level=None, inplace=False, errors='raise')

In [27]:
import numpy as np
import pandas as pd
import os
csv_path= "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv"
US_Baby_Names= pd.read_csv(csv_path, sep=',')
#First 5 rows from main CSV file
print("First 5 rows from main CSV file\n", '+'*50)
print(US_Baby_Names.head(5))

First 5 rows from main CSV file
 ++++++++++++++++++++++++++++++++++++++++++++++++++
   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

In [29]:
#Sol1-  Delete unnamed columns
print("Solution for Q1. Delete unnamed columns")
US_Baby_Names.drop(US_Baby_Names.columns[US_Baby_Names.columns.str.contains('unnamed',case = False)], axis= 1,inplace= True )
# First five rows after deleting unnamed column
print("\n\nFirst 5 rows after deleting unnamed column\n", '+'*50)
print(US_Baby_Names.head(5))

Solution for Q1. Delete unnamed columns


First 5 rows after deleting unnamed column
 ++++++++++++++++++++++++++++++++++++++++++++++++++
      Id     Name  Year Gender State  Count
0  11350     Emma  2004      F    AK     62
1  11351  Madison  2004      F    AK     48
2  11352   Hannah  2004      F    AK     46
3  11353    Grace  2004      F    AK     44
4  11354    Emily  2004      F    AK     41

In [33]:
#Sol2- Show the distribution of male and female
print("Solution for Q2. Show the distribution of male and female\n")

print(US_Baby_Names.groupby('Gender')['Gender'].count())

Solution for Q2. Show the distribution of male and female

Gender
F    558846
M    457549
Name: Gender, dtype: int64

In [34]:
#Sol3- Show the top 5 most preferred names
print("Solution for Q3.Show the top 5 most preferred names\n")
US_Baby_Names_count = US_Baby_Names.groupby('Name')['Name'].count()
print(US_Baby_Names_count.sort_values(ascending=False).head())

Solution for Q3.Show the top 5 most preferred names

Name
Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

In [37]:
#Sol4- What is the median name occurence in the dataset
print("Solution for Q4. What is the median name occurence in the dataset\n")
median_id = US_Baby_Names.median()['Id']
print("median Id and name is below")
print(US_Baby_Names[US_Baby_Names['Id'] == median_id]['Name'])

Solution for Q4. What is the median name occurence in the dataset

median Id and name is below
508197    Kasey
Name: Name, dtype: object

In [38]:
#Sol5- Distribution of male and female born count by states
print("Solution for Q5. Distribution of male and female born count by states")
print(US_Baby_Names.groupby(['State','Year','Gender'])['Gender'].count())

Solution for Q5. Distribution of male and female born count by states
State  Year  Gender
AK     2004  F         204
             M         206
       2005  F         214
             M         216
       2006  F         221
             M         217
       2007  F         199
             M         227
       2008  F         225
             M         237
       2009  F         212
             M         237
       2010  F         222
             M         240
       2011  F         235
             M         240
       2012  F         216
             M         252
       2013  F         225
             M         255
       2014  F         231
             M         260
AL     2004  F         834
             M         711
       2005  F         847
             M         719
       2006  F         899
             M         757
       2007  F         942
             M         771
                      ...
WV     2011  F         403
             M         342
       2012  F         399
             M         352
       2013  F         406
             M         362
       2014  F         386
             M         365
WY     2004  F         124
             M         153
       2005  F         131
             M         171
       2006  F         126
             M         181
       2007  F         153
             M         177
       2008  F         147
             M         177
       2009  F         133
             M         183
       2010  F         134
             M         174
       2011  F         121
             M         166
       2012  F         117
             M         163
       2013  F         139
             M         178
       2014  F         131
             M         181
Name: Gender, Length: 1122, dtype: int64